@media (min-width: 768px) {
    header {
        padding: 10px 50px;
    }

    .logo {
        font-size: 33px;
    }

    .nav {
        display: contents;
    }

    .slider {
        height: 60%;
    }

    .carousel-recommended .content-slider .item .item-content h3 {
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }

    .carousel-recommended .content-slider .item .item-content p {
        font-size: 1.5rem;
        margin-bottom: 1.2rem;
        line-height: 2.3rem;
    }

    .carousel-recommended .content-slider .item .item-content .buttons button:nth-of-type(1) {
        font-size: 1rem;
    }

    .thumb-slider .item {
        width: 150px;
        height: 100px;
    }

    .thumb-slider .item.active {
        width: 175px;
        height: 115px;
    }

    .combine {
        height: 30%;
    }

    .movie-list {
        grid-auto-columns: 185px;
        height: 420px;
    }

    .movie-list .movie-item {
        height: 320px;
    }

    .thinh-hanh h2,
    .anime h2,
    .hanh-dong h2,
    .phim-trung h2 {
        font-size: inherit;
    }
}

@media (min-width: 1024px) {
    header {
        padding: 10px 50px;
    }

    .logo {
        font-size: 33px;
    }

    .nav {
        display: contents;
    }

    .slider {
        height: 50%;
    }

    .carousel-recommended .content-slider .item .item-content h3 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    .carousel-recommended .content-slider .item .item-content p {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        line-height: 2.3rem;
    }

    .carousel-recommended .content-slider .item .item-content .buttons button:nth-of-type(1) {
        font-size: 1.5rem;
        padding: 20px 30px;
    }

    .carousel-recommended .content-slider .item .item-content .buttons button:nth-of-type(2),
    .carousel-recommended .content-slider .item .item-content .buttons button:nth-of-type(3) {
        font-size: 1.5rem;
        height: 75px;
        width: 75px;
    }

    .thumb-slider .item {
        width: 170px;
        height: 120px;
    }

    .thumb-slider .item.active {
        width: 205px;
        height: 135px;
    }

    .combine {
        height: 30%;
    }

    .movie-list {
        grid-auto-columns: 185px;
        height: 420px;
    }

    .movie-list .movie-item {
        height: 320px;
    }

    .thinh-hanh h2,
    .anime h2,
    .hanh-dong h2,
    .phim-trung h2 {
        font-size: 25px;
    }
}