<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="left">
            <p>Công ty cổ phần nhóm 2 :v</p>
            <a href="#" class="logo">
                <span>VPlay</span>
            </a>
        </div>
        <div class="right">
            <ul class="info">
                <li class="title">Về VPlay</li>
                <li><a href="#">Giới thiệu về VPlay</a></li>
                <li><a href="#">Thông báo</a></li>
            </ul>
            <ul class="info">
                <li class="title">Thông tin</li>
                <li><a href="#">Liên hệ</a></li>
                <li>Hotline: 0364066116</li>
                <li>Email: trankhanhtoan2006qt@gmail.com</li>
                <li><a href="#">Góp ý</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>