@media (min-width: 768px) {
    header {
        padding: 10px 50px;
    }

    .logo {
        font-size: 33px;
    }

    .nav {
        display: contents;
    }
}

@media (min-width: 1024px) {
    header {
        padding: 10px 50px;
    }

    .logo {
        font-size: 33px;
    }

    .nav {
        display: flex;
        gap: 50px;
    }

    .watch-movie {
        display: flex;
        padding: 4em;
        gap: 2em;
        justify-content: space-between;
        align-items: center;
    }

    .watch {
        width: 100%;
    }

    .episode-list-container {
        width: 50%;
        margin-left: 2rem;
    }

    footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .left {
        width: auto;
    }

    .right {
        flex-direction: row;
    }
}