@import url("../../root.css");
@import url("../../responsive.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-opensans);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: var(--black-smoke);
    height: 5rem;
}

#logo {
    font-size: 33px;
    color: var(--brand-color);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--nav-color);
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

#options-container {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 20px;
}

#options-container a {
    color: white !important;
}

.user-icon-container {
    width: 35px;
    height: 35px;
    border: 2px solid rgba(255, 255, 255, 0.829);
    border-radius: 100%;
    overflow: hidden;
}

.nav li:nth-of-type(1) a {
    color: white !important;
    font-weight: 700;
}

.nav li:hover a, #search-button:hover {
    color: var(--brand-color) !important;
    transition: color 0.3s ease;
}

#account-button {
    cursor: pointer;
}