@import url("../../root.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-opensans);
}

body {
    background-color: var(--black-smoke);
    color: white;
    overflow-x: hidden;
}

.carousel-recommended {
    height: auto;
}

/* header */
header {
    display: flex;
    position: fixed;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    height: 4rem;
    width: 100vw;
    background-color: var(--black-smoke);
}

.logo {
    font-size: 33px;
    color: var(--brand-color);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--nav-color);
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

#options-container {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 20px;
}

#options-container a {
    color: white !important;
}

.user-icon-container {
    width: 35px;
    height: 35px;
    border: 2px solid rgba(255, 255, 255, 0.829);
    border-radius: 100%;
    overflow: hidden;
}

.nav li:nth-of-type(1) a {
    color: white !important;
    font-weight: 700;
}

.nav li:hover a,
#search-button:hover {
    color: var(--brand-color) !important;
    transition: color 0.3s ease;
}

.user-icon-container:hover {
    cursor: pointer;
    border: 2px solid var(--brand-color);
    transition: border 0.3s ease;
}

/* slider */
.carousel-recommended {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-recommended .slider .item {
    position: absolute;
    inset: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 10;
}

.carousel-recommended .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 4rem;

}

.carousel-recommended .slider .item iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 4rem;
    border: none;
}

.carousel-recommended .slider .item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    top: 0;
    right: 0;
    background: linear-gradient(to bottom, var(--black-smoke) 40%, transparent);
}

.carousel-recommended .slider .item::after {
    content: '';
    width: 100%;
    height: 30%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, var(--black-smoke) 30%, transparent);
}

/* content-slider */

.carousel-recommended .content-slider .item {
    position: absolute;
    left: 5%;
    width: 500px;
    max-width: 80%;
    opacity: 0;
    transition: 0.5s;
    z-index: 10;
}

.carousel-recommended .content-slider .item .item-content h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.carousel-recommended .content-slider .item .item-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
}

.carousel-recommended .content-slider .item .item-content .buttons {
    display: flex;
    gap: 17px;
}

.carousel-recommended .content-slider .item .item-content .buttons button:nth-of-type(1) {
    padding: 10px 20px;
    font-size: 1rem;
    background: var(--brand-background-color);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 50px;
}

.carousel-recommended .content-slider .item .item-content .buttons button:nth-of-type(2),
.carousel-recommended .content-slider .item .item-content .buttons button:nth-of-type(3) {
    padding: 10px 10px;
    height: 45px;
    width: 45px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.185);
    border: 1px solid rgba(201, 201, 201, 0.774);
    color: rgba(255, 255, 255, 0.836);
    border-radius: 1000%;
    cursor: pointer;
    opacity: 80%;
}

.carousel-recommended .content-slider .item .item-content .buttons button:nth-of-type(2):hover,
.carousel-recommended .content-slider .item .item-content .buttons button:nth-of-type(3):hover {
    opacity: 100%;
    transition: 0.3s;
}

.carousel-recommended .content-slider .item .item-content .buttons button:nth-of-type(3) {
    font-size: 1.2rem;
}

.carousel-recommended .slider .item.active {
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to {
        transform: translateX(0);
        filter: blur(0);
        opacity: 1;
    }
}

.carousel-recommended .content-slider .item.active {
    z-index: 11;
    transform: translateX(-30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}

/* thumbnail slider */

.thumb-slider {
    position: absolute;
    z-index: 11;
    display: flex;
    align-items: center;
    gap: 10px;
    right: 20px;
    bottom: 5px;
    width: 46.26%;
    height: 170px;
    margin: 0 50px;
    overflow-x: auto;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
}

.thumb-slider::-webkit-scrollbar {
    display: none;
}

.thumb-slider .item {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 110px;
    height: 60px;
    filter: brightness(0.3);
    filter: opacity(0.3);
    transition: 0.5s;
    cursor: pointer;
}

.thumb-slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    object-position: center 20%;
}

.thumb-slider .item.active {
    filter: brightness(1.1);
    filter: opacity(1);
    border: 2px solid white;
    border-radius: 10px;
    width: 125px;
    height: 75px;
}

.combine {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    bottom: 10px;
}

.carousel-recommended {
    margin-bottom: 100px;
}

/* movies */

.category-list {
    padding: 20px 45px;
}

.movie-list {
    display: grid;
    gap: 15px;
    grid-auto-flow: column;
    grid-auto-columns: 185px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 5px;
    height: 420px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.movie-list::-webkit-scrollbar {
    display: none;
}

.movie-list .movie-item {
    height: 300px;
    cursor: pointer;
    scroll-snap-align: start;
}

.movie-list .movie-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.movie-list .movie-item h4 {
    padding: 0 10px;
}

/* scrolling button */
.thinh-hanh,
.anime,
.hanh-dong,
.phim-trung {
    position: relative;
}

.movie-list::scroll-button(right),
.movie-list::scroll-button(left) {
    content: '>';
    position: absolute;
    width: 106%;
    top: 9%;
    right: -3%;
    height: 300px;
    width: 35px;
    font-size: 50px;
    font-family: monospace;
    background: none;
    border: none;
    color: rgb(168, 168, 168);
    cursor: pointer;
    border-radius: 20px;
    transition: 0.2s ease;
}

.movie-list::scroll-button(left) {
    content: '<';
    left: -3%;
}

.movie-list::scroll-button(right):hover,
.movie-list::scroll-button(left):hover {
    color: white;
    background-color: black;
}

.movie-list::scroll-button(right):disabled,
.movie-list::scroll-button(left):disabled {
    opacity: 0;
}

/* footer */
footer {
    border-top: 1px solid #2c2c2c;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.right {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.info {
    display: flex;
    flex-direction: column;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    width: 20%;
}

.left p {
    font-size: 28px;
    margin-bottom: 10px;
}

.left span {
    padding: 20px;
    font-size: 50px;
}

.title {
    color: white;
    font-weight: 650;
    white-space: 2px;
}

footer li {
    color: var(--nav-color);
}

footer li:hover a {
    color: var(--brand-color) !important;
    transition: color 0.3s ease;
}